body { margin-left: 80px;
   margin-right: 80px;
   margin-top: 30px;
   margin-bottom: 30px;
   font-family: Courier;
   text-align: justify;
   color: #24222f    
   
	}
	 
	 
	H1{ font-family: SketchFlow Print;
		color: #6787a2;
		text-align: center		
	}
	H4{
	text-align: right}
	